@font-face {
	font-family: CodeBold;
	src: url("assets/CodeBold.otf");
}

@font-face {
	font-family: CodeLight;
	src: url("assets/CodeLight.otf") format("opentype");
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 35px;
}

p, ol, ul, td {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 18px;
}


a {
  color: #000;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	margin-left: 50px;
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
	box-shadow:none;
	border:none;
}

.navbar-inner {
  background-color: #ffffff; 
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.relDiv{
	position: relative;
	text-align: center;
}

img.bg {
  min-height: 90%;
  opacity: 0.8;
	
  /* Set up proportionate scaling */
  min-width: 1000px;
  width: 100vw;
  height: 100vh;
  	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pageCenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mainPage{
	position: relative;
	margin-top: 5%;
	color: black;
	font-size: 64px;
	font-family: CodeBold;
	line-height: 56px;
}

.portland{
	position: relative;
	color: black;
	font-weight: 900;
	font-size: 30px;
	font-family: CodeLight;
}

.indiaFest{
	color: white;
	font-size: 30px;
	font-family: CodeBold;
	margin-top: 20%;
	font-weight: bold;
	text-shadow: 5px 3px 5px black;
}

.mainText{
	display: inline-block;
	width: 100%;
	background: transparent;
	padding-bottom: 40px;
	padding-top: 30px;
	color: #333333;
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 3%;

}

.pageTitleText{
	color: black;
	position: relative;
	margin-top: 5%;
	color: black;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.rowElems{
	background: rgba(5, 5, 5, .7);
	color: white;
}

.mainButton{
	height: 50%;
}

.full{
	min-height: 100vh;
	width: 100vw;
	padding-top: 20px;
	position: relative;
	overflow-x: hidden;
}

.gray{
	background: rgb(240,240,240);
}

.aboutText{
  	padding-top: 10%;
}

.linebreak{
	width: 60%;
	margin:auto;
	text-align: center;
}

.pageCenter{
	margin-top: 5%;
}
.tile{
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 4px;
	box-shadow: 1px 1px 1px #bbb;
	background-color: #f7f7f7;
	padding: 10px;
	border-radius: 50px;

}

.tile:hover{
	background-color: rgba(251, 162, 119, .4);
}

.tile img{
	width: 150px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	margin: auto;
}

.sponsor{
	position: absolute;
	padding: 50px;
}

.line{
	display: inline-block;
	margin: 20px 0 0 0;
	height: 1.5px;
	width: 30%;
	background: #DEE1E3;
}

.chakra{
	height: 40px;
	width: 40px;
}

.centeredImage {
	display:block;
  margin:auto;
  vertical-align: middle;
  margin-top: 100px;
}

.fbBox {
	display:block;
  margin:auto;
  vertical-align: middle;
  margin-top: 100px;
  text-align:center;
}

.fb-like-box.fbBox.fb_iframe_widget {
	text-align: center;
	display: block;
	vertical-align: middle;
	margin: auto;
	margin-top: 100px;
}

.contactImage {
	max-width: 100%;
/*	width: 500px;
*/}

.largeText{
	text-align: center;
	font-size: 25px;
	opacity: .7;
	margin-top: 3%;
	line-height:22px;
}

.sponsorColor{
	font-weight: bold;
}

.subTitle{
	font-weight: bold;
	font-size: 20px;
	opacity: 1;
}

.subText{
	text-align: left;
	margin-top: 2%;
	font-size: 15px;
}

.smallImage{
	width: 300px;
	height: 200px;
}

.circular {
	width: 200px;
	height: 200px;
	box-shadow: 10px;
	border-radius: 150px;
}

.imgWrap {
	position: relative;
}

.imgDescription {
  text-transform: uppercase;
  font: bold 22px Helvetica;
  color: black;
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 20%;
  right: 50%;
  text-align: center;
}

.imgWrap:hover .circular{
  opacity: 0.2;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.9;
}

.linkText{
	font-style: italic;
	font-size: 14px;
	text-decoration: underline;
}

.contactCont{
	position: relative;
	vertical-align: middle;
}

.jumbotron{
	font-size: 24px;
	padding: 10px 10px 10px 10px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, .5);
	font-family: CodeBold;
	border-color: rgb(182,47,45);
	border-width: 7px;
	border-style: solid;

}

.preFestival{
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, .5);
	font-family: CodeBold;
	width: 60%;
	padding: 10px 10px 10px 10px;
	position: relative;
	margin-top: 3%;
}

.mainlink{
	display: block;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    color: rgb(56,56,56);
/*    margin-left: 0;
    margin-right: 0;
*/    font-weight: bold;
}

.mainlink:hover{
	color: rgb(182,47,45);
	text-decoration: none;
/*	font-size: 28px;
*/}

.preLink:hover{
	color: rgb(0,0,0);
}

@media only screen and (max-width: 375px) {

   .mainPage { font-size: 40px; line-height: 45px; }

}